* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header {
  background-color:blanchedalmond;
  text-align: center;
  display: inline;
}

.header-wrap {
  display:flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.hero-banner{
display:flex;
justify-content:flex-end;
background-image: url(./images/hbanner.jpg);
background-repeat:no-repeat;
background-size: cover;
height:100px;
}

.portfolio-bar{
  display:flex;
  background-color: grey;
}

.navbar {
display:flex;
flex-direction: row;
justify-content: flex-end;
margin-top: 11px;
margin-bottom: 30px;
}

ul {
  list-style-type: none;
  display: inline;
  padding: 0;
  margin: 0;
}

.application {
  width:100%;
  float:right; 
  cursor: pointer;
  display: grid;
  align-content: end;
  border: 5px solid green;
  font-size: 25px;
  flex-wrap:wrap;
}

#a1 {
  background-image: url(./images/Application1.jpg);
  width: 100%;
}

#a2 {
  background-image: url(./images/Application2.jpg);
}

#a3 {
  background-image: url(./images/Application3.jpg);
}

#a4 {
  background-image: url(./images/Application4.jpg);
}

#a5 {
  background-image: url(./images/Application5.jpg);
}

.page-section #work {
display:flex;
}

.work-col{
  display:flex;
}

.col-left{

}

.row-right{

}